<div class="app">
  <nav class="nav">
    <a mat-button routerLink="/" routerLinkActive="active">home</a>
    <a mat-button routerLink="/github" routerLinkActive="active">github</a>
    <a mat-button routerLink="/signup" routerLinkActive="active">signup</a>
    <a mat-button routerLink="/login" routerLinkActive="active">login</a>
    <a mat-button routerLink="/admin" routerLinkActive="active">admin</a>
    <a mat-button routerLink="/filter" routerLinkActive="active">filter</a>
    <a mat-button routerLink="/form" routerLinkActive="active">form</a>
    <a mat-button routerLink="/test" routerLinkActive="active">Test</a>
  </nav>

  <div class="main">
    <router-outlet class="main"></router-outlet>
  </div>
</div>