<div class="component-page-header">
  <h1>
    github works!
  </h1>
</div>

<div class="container">
  <!-- search -->
  <mat-form-field>
    <input matInput placeholder="Github Username" [(ngModel)]="username" (keyup.enter)="search()">
  </mat-form-field>

  <!-- github user -->
  <div *ngIf="user">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{user.avatar_url}}">
      <mat-card-content>
        <mat-list>
          <mat-list-item> Login: {{user.login}} </mat-list-item>
          <mat-list-item> Location: {{user.location}} </mat-list-item>
          <mat-list-item> Blog: {{user.blog}} </mat-list-item>
          <mat-list-item> Github: {{user.html_url}}</mat-list-item>
          <mat-list-item> Created: {{user.created_at}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>