<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="container">

  <!-- ngFor ngClass -->
  <mat-card>
    <mat-card-title>ngFor</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let item of data; let myIndex = index; let firstRecords = first; let lastRecords = last; let evenRecords = even; let oddRecords = odd;" [ngClass]="{odd: oddRecords,even: evenRecords, first: firstRecords, last: lastRecords}">
          {{myIndex}} : {{item}} even: {{evenRecords}} odd: {{ oddRecords }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <!-- ngIF -->
  <mat-card>
    <mat-card-title>ngIF</mat-card-title>
    <mat-card-content>
      <div *ngIf="2<1; else testContent">
        yes
      </div>

      <ng-template #testContent>
        <span>
          No
        </span>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <!-- pipe -->
  <mat-card>
    <mat-card-title>pipe</mat-card-title>
    <mat-card-content>
      <p>
        eq: "this is my name"
      </p>
      <p>
        res: {{ "this is my name" | reverse:false:"bobby":"henry"}}
      </p>
    </mat-card-content>
  </mat-card>

  <!--directive  -->
  <mat-card>
    <mat-card-title>directive</mat-card-title>
    <mat-card-content>
      <div appColor>
        color test
      </div>
    </mat-card-content>
  </mat-card>

</div>